<!-- <ul style="align-items: center">
  <li *ngFor="let value of values">
    Id={{value.id}}, Name={{value.name}}
  </li>
</ul> -->


<div class="container-fluid">
  <div *ngFor="let item of values" class="row">
    <div class="col-1 badge badge-pill badge-primary m-1" data-toggle="tooltip" data-placement="top" title="Id">
      {{item.id}}
    </div>
    <div class="col-1" data-toggle="tooltip" data-placement="top" title="Name">
      {{item.name}}
    </div>
    <div class="col-25"></div>
  </div>
</div>